<script type="text/javascript">
    $(function(){
        $("#alert-success").hide();
        $("#alert-danger").hide();
        $("input").keyup(function(){
            var pwd1=$("#pwd1").val();
            var pwd2=$("#pwd2").val();
            if(pwd1 != "" || pwd2 != ""){
                if(pwd1 == pwd2){
                    $("#alert-success").show();
                    $("#alert-danger").hide();
                    $("#submit").removeAttr("disabled");
                }else{
                    $("#alert-success").hide();
                    $("#alert-danger").show();
                    $("#submit").attr("disabled", "disabled");
                }    
            }
        });
    });
</script>
<style>
  input[type='number'] {
      -moz-appearance:textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  
</style>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.min.js"></script>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>


<div id="wrap" class="st_info">

<div id="top_title2"><i class="fas fa-chevron-left" onClick="history.back();"></i> 회원가입</div>
  <div id="container" class="form_wrap gray">
  
  
  <%= f.email_field :email, class: "frm_default", autofocus: true, autocomplete: "email",placeholder: "아이디(이메일)" %>


  <% if @minimum_password_length %>
  <% end %><br />
  <%= f.password_field :password,id: "pwd1", class: "frm_default", autocomplete: "new-password",placeholder: "비밀번호(영문 숫자 특수문자 2가지 이상 6~15자 이내)" %>


  <%= f.password_field :password_confirmation,id: "pwd2", class: "frm_default", autocomplete: "new-password",placeholder: "비밀번호 확인" %>

<div id="alert-success">비밀번호가 일치합니다.</div>
<div id="alert-danger">비밀번호가 일치하지 않습니다.</div>

  <%= f.text_field :name, class: "frm_default", autofocus: true, autocomplete: "name",placeholder: "이름" %>


  <%= f.number_field :phone, class: "frm_default", autofocus: true, autocomplete: "phone",placeholder: "휴대폰 번호('-'빼고 입력해 주세요)" %>


<!--<div id="addressAlba">
  <%= f.label :주소 %><br />
  <%= f.text_field :address1, class: "frm_default", autofocus: true, autocomplete: "address" ,placeholder: "주소" , id: "sample5_address" %>
  <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
  <%= f.label :상세주소 %><br />
  <%= f.text_field :address2, class: "frm_default", autofocus: true, autocomplete: "address" ,placeholder: "상세주소" %>
  <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
</div>-->

<br/>
<div class="actions">
  <%= f.submit "동의하고 가입하기" , class:"btn_apply", onclick: "return confirm('개인정보 동의');" %>
</div>
<%end%>
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>

</div>
