<script>
  $(function(){
    $('#create_job').on('click', function(){
      var bs = $('#bussiness').val();
      if(bs == undefined) {
        alert('사업장을 등록해주세요.');
        return;
      } else {
        location.href = "/bussiness/create_job?id=" + bs;
      }
    });
    
    $('#location').on('click', function(){
      location.href = "/bussiness/location";
    });
    
    $('.job_list').on('click', function(){
      var id = $(this).data('id');
      var bussiness_id = $(this).data('bussiness_id');
      location.href = "/bussiness/show_job?id=" + id + "&bussiness_id=" + bussiness_id;
    });
    
    $('#applicant-info').on('click', function () {
      var id = $(this).data('id');
      var bussiness_id = $(this).data('bussiness_id');
      location.href = "/bussiness/info_applicant?id=" + id + "&bussiness_id=" + bussiness_id;
    });
  });
</script>

<style>
  #applicant-info {
    cursor: pointer;
  }
</style>

<div id="wrap" class="bs_profile">
  
  
  <div id="profile">
            <div class="pull-left col-md-3">
                
                <div class="profile_thumb">
                    <div class="btn_upload"><i class="fas fa-camera"></i></div>
                    <div class="img"><img src="http://www.cheogajip.co.kr/data/file/menu/thumb-32732614_IS24EQVA_678ab6e730f0dcc0649094f5a519801ae6926956_290x297.png" ></div>
               </div>
            
            </div>
            <div class="pull-right col-md-9">
              
              <% if @bussiness != nil %>
                    <span class="name"><%= @bussiness.bs_name %></span>
                    &nbsp;&nbsp;<a href="/bussiness/change_bs" title="사업장변경"><i class="fas fa-chevron-down"></i></a>
                    <br>
                    <%= @bussiness.address %><br><%= @bussiness.phone %>
                    <% else %>
                <br>
                사업장을 등록해주세요. <br />
              <% end %>
              

              <div class="btn_area">
              <span id="location"><i class="fas fa-plus"></i>사업장 추가</span>
              </div>
            </div>
            
            
              <button id="create_job"><i class="fas fa-edit"></i> 구인글 등록</button>

        </div>

      <% if @bussiness != nil %>
      <ul class="tabs">
          <li class="active" rel="tab1" style="width: 33.3%">진행중 <div><%= @job.length %></div></li>
          <li rel="tab2" style="width: 33.3%">마감 <div><%= @job_end.length %></div></li>
          <li rel="tab3" style="width: 33.3%">인재관리</li>
      </ul>
      <% end %>
<div id="container" class="tab_container">

          <!-- #tab1 : 지원중 -->
          <div id="tab1" class="tab_content">

          <% if @job != nil %>
            <ul class="work_list">
              <% @job.each do |job| %>
                  <li class="job_list" data-id="<%= job.id %>" data-bussiness_id="<%= @bussiness.id %>"> 
                      <section>
                          <a href="#" class="icon_fav"></a>
                          <div class="img"></div>
                          <div class="info">
                              <div class="title"><%= job.bs_name %> <span><%= job.address %></span></div>
                              <% @tag.each do |tag| %>
                                <% if tag.job_id.to_i == job.id %>  
                                  <a href="#" class="tag">#<%= tag.sort %></a>
                                <% end %>
                              <% end %>
                          </div>
                      </section>
        
                      <ul class="info2">
                      <li><%= job.date %></li>
                      <li><%= job.time_start %>시 ~ <%= job.time_end %>시</li>
                      <% if job.day_payment == 'T' %>
                        <li>시급 <%= job.pay %>원 <span class="icon-blue">당일지급</span></li>
                      <% end %>
                      </ul>
                       
                      <ul class="info3">
                      <li><i class="fas fa-user"></i> 지원자 <%= job.personnel_cnt %> / <%= job.personnel %></li>
                      <li><i class="fas fa-sync-alt"></i> 재등록하기</li>
                      </ul>     
                      
                  </li>
              <% end %>
            </ul>
          <% else %>
            <br />
            등록된 일자리가 없습니다.
          <% end %>
          
          <% if @bussiness != nil %>
            <input type="hidden" id="bussiness" value=<%= @bussiness.id %>>
          <% end %>
            

          </div>

          

          <div id="tab2" class="tab_content">
            <% if @job_end != nil %>
            <ul class="work_list">
              <% @job_end.each do |job| %>
                  <li class="job_list" data-id="<%= job.id %>" data-bussiness_id="<%= @bussiness.id %>"> 
                      <section>
                          <a href="#" class="icon_fav"></a>
                          <div class="img"></div>
                          <div class="info">
                              <div class="title"><%= job.bs_name %> <span><%= job.address %></span></div>
                              <% @tag.each do |tag| %>
                                <% if tag.job_id.to_i == job.id %>  
                                  <a href="#" class="tag">#<%= tag.sort %></a>
                                <% end %>
                              <% end %>
                          </div>
                      </section>
        
                      <ul class="info2">
                      <li><%= job.date %></li>
                      <li><%= job.time_start %>시 ~ <%= job.time_end %>시</li>
                      <% if job.day_payment == 'T' %>
                        <li>시급 <%= job.pay %>원 <span class="icon-blue">당일지급</span></li>
                      <% end %>
                      </ul>
                       
                      <ul class="info3">
                      <li><i class="fas fa-user"></i> 지원자 <%= job.personnel_cnt %> / <%= job.personnel %></li>
                      <li><i class="fas fa-sync-alt"></i> 재등록하기</li>
                      </ul>     
                      
                  </li>
              <% end %>
            </ul>
          <% else %>
            <br />
            등록된 일자리가 없습니다.
          <% end %>
          
          <% if @bussiness != nil %>
            <input type="hidden" id="bussiness" value=<%= @bussiness.id %>>
          <% end %>
          </div>

          <div id="tab3" class="tab_content">
            <div style="width: 100%; height: 100%;">
            <% if @businessfav != nil %>
            <% @businessfav.each do |businessfav| %>
              <div class="application_list" data-id=<%= businessfav.id %> >
                
                  <div class="pull-left col-md-3">
                    <div class="profile_thumb">
                        <div class="img"><img src="<%=current_user.profileImg%>" alt="등록된 프로필 사진이 없습니다."></div>
                   </div>
                  </div>
                  
                  
                  <div class="pull-left col-md-6" id="applicant-info" data-id="<%= businessfav.user_id %>"  data-bussiness_id="<%= @bussiness.id %>">
                    <b><%= businessfav.name %></b><span class="certi">인증회원</span><br />
                    <%= businessfav.address1 %> <br />
                    <%= businessfav.phone %> <br />
                  </div>
                  
                  
                  <div class="pull-right col-md-3">
                    <a href="tel:<%= businessfav.phone %>"><i class="fas fa-phone-alt"></i> 전화걸기</a>
                  </div>
  
              </div>
            <% end %>
            <% end %>
            </div>
          </div>
      </div>
      
      




</div>


  <script>
    $(function () {
    
      $(".tab_content").hide();
      $(".tab_content:first").show();
      
      $("ul.tabs li").click(function () {
      $("ul.tabs li").removeClass("active").css("color", "#8a8a8a");
      $(this).addClass("active").css("color", "#82d7d2");
      $(".tab_content").hide()
      var activeTab = $(this).attr("rel");
      $("#" + activeTab).fadeIn()
      });
    });
		</script>
