<script>
  $(function () {
    $('#menu_active').removeClass('on');
    $('#menu_favorites').removeClass('on');
    $('#menu_application').addClass('on');
    $('#menu_mypage').removeClass('on');
  });
  
  function createToast(t) {
    switch (t) {
      case 'danger':
        $.toast('지원 취소', {
          //sticky: true,
          duration: 2000,
          type: 'danger'
        });
        return;
    }
  }
  
  $(function() {
    $('#btn-cancel').on('click', function(event){
      if(event.stopPropagation) event.stopPropagation(); //MOZILLA
		  else event.cancelBubble = true; //IE
 
      var id = $(this).data('id');
      var name = $(this).data('name');
      
      if (confirm(name + " 지원을 취소하시겠습니까?") == true){    //확인
          $.post('/active/appriedCancel', { id: id }, 
          function(returnedData){
               console.log(returnedData);
          }).fail(function(){
            alert('error');
          }).done(function(){
            $("#div-reload").load(window.location.href + " #div-reload");
            $("#tab-reload").load(window.location.href + " #tab-reload");
            
            eventToast('success', '지원이 취소되었습니다.');
          });
      }else{   //취소
          return;
      }
      
      
    });
    
    $('.li-progressList').on('click', function () {
      var id = $(this).data('id');
      location.href = "/active/create_application?id=" + id;
    });
    
    $('.li-deadlineList').on('click', function () {
      var id = $(this).data('id');
      location.href = "/active/deadline_application?id=" + id;
    });
  });
</script>


<div id="wrap">
  
  
  <div id="top_title2">지원내역</div>
  
      <ul id="status">
        <li><span>근무시간</span><br><%= @total_time %>분</li>
        <li><span>알바비</span><br><%= @total_pay %>원</li>
      </ul>
 
      <div id="graybar"></div>
       

      <ul class="tabs">
          <li class="active" rel="tab1">지원중 <div id="tab-reload"><%= @application.length %></div></li>
          <li rel="tab2">마감 <div><%= @application_end.length %></div></li>

      </ul>
      
   
      
      <div id="container" class="tab_container">
          <div id="div-reload">
          <!-- #tab1 : 지원중 -->
          <div id="tab1" class="tab_content">
            
              
              <ul class="work_list">
                <% @application.each do |a| %>
                  
                    <li class="li-progressList" data-id=<%= a.job_id %>> 
                        <section>
                            <!--<a href="#" class="icon_fav"><i class="far fa-star"></i></a>-->
                            <div class="img"><img src="https://www.menupan.com/restaurant/restimg/000/zzmenuimg/h3024404_z.jpg"></div>
                            <div class="info">
                                <div class="title"><%= a.bs_name %> <span><%= a.address %></span><span class="loc">250m</span></div>
                                <% @tag.each do |tag| %>
                                <% if tag.job_id == a.job_id %>  
                                  <a href="#" class="tag">#<%= tag.sort %></a>
                                <% end %>
                              <% end %>
                            </div>
                        </section>
            
                            <ul class="info2">
                            <li><%= a.date %></li>
                            <li><%= a.time_start %> ~ <%= a.time_end %></li>
                            <li>시급 <%= a.pay %>원 <span class="icon-blue">당일지급</span></li>
                            </ul>
                            <% if a.status == 'appried' %>
                              <span class="btn_apply" id="btn-cancel" data-id=<%= a.id %> data-name=<%= a.bs_name %>>지원취소<i class="fas fa-chevron-right"></i></span>
                              
                              <% elsif a.status == 'hired' %>
                                <span class="btn_apply" data-id=<%= a.id %>>진행중<i class="fas fa-chevron-right"></i></span>
                              <% elsif a.status == 'rejected' %>
                                <span class="btn_apply" data-id=<%= a.id %>>rejected됨<i class="fas fa-chevron-right"></i></span>
                            <% end %>
                    </li>
                   
                <% end %>
              </ul>
            

          </div>

          </div>

          <div id="tab2" class="tab_content">
            <ul class="work_list">
                <% @application_end.each do |a| %>
                  
                    <li class="li-deadlineList" data-id=<%= a.job_id %>> 
                        <section>
                            <!--<a href="#" class="icon_fav"><i class="far fa-star"></i></a>-->
                            <div class="img"><img src="https://www.menupan.com/restaurant/restimg/000/zzmenuimg/h3024404_z.jpg"></div>
                            <div class="info">
                                <div class="title"><%= a.bs_name %> <span><%= a.address %></span><span class="loc">250m</span></div>
                                <% @tag.each do |tag| %>
                                <% if tag.job_id == a.job_id %>  
                                  <a href="#" class="tag">#<%= tag.sort %></a>
                                <% end %>
                              <% end %>
                            </div>
                        </section>
            
                            <ul class="info2">
                            <li><%= a.date %></li>
                            <li><%= a.time_start %> ~ <%= a.time_end %></li>
                            <li>시급 <%= a.pay %>원 <span class="icon-blue">당일지급</span></li>
                            </ul>
                            <span class="btn_apply" data-id=<%= a.id %>>완료<i class="fas fa-chevron-right"></i></span>
                    </li>
                   
                <% end %>
              </ul>
          </div>


      </div>
      
      
  <script>
    $(function () {
    
      $(".tab_content").hide();
      $(".tab_content:first").show();
      
      $("ul.tabs li").click(function () {
      $("ul.tabs li").removeClass("active").css("color", "#8a8a8a");
      $(this).addClass("active").css("color", "#82d7d2");
      $(".tab_content").hide()
      var activeTab = $(this).attr("rel");
      $("#" + activeTab).fadeIn()
      });
    });
		</script>





</div>