    <script>
        $(function () {
            $('#menu_active').removeClass('on');
            $('#menu_favorites').removeClass('on');
            $('#menu_application').removeClass('on');
            $('#menu_mypage').addClass('on');
        });
    </script>
    
    <div id="wrap"><!--wrap-->

        <div id="profile">
            <div class="pull-left col-md-3">
                
                <div class="profile_thumb">
                    <div class="btn_upload"><i class="fas fa-camera"></i></div>
                    <div class="img"><img src="<%=current_user.profileImg%>" alt="등록된 프로필 사진이 없습니다."></div>
               </div>
            
            </div>
            <div class="pull-right col-md-9">

                <span class="name"><%=current_user.name%> </span> <!--<span class="certi">인증회원</span>-->
                
                <%if current_user.provider == 'kakao'%>
                <span class="certi_sns kakao>카카오톡 연동</span><br/>
                <%elsif current_user.provider == 'naver'%>
                <span class="certi_sns naver">네이버 연동</span><br/>
                <%else%>
                    <%=current_user.provider%>연동<br/>
                <%end%>
                <ul class="user_info">
                <li><%if current_user.accountNum? %><%=current_user.bankName%><%=current_user.accountNum%><br><%else%><span class="sm_notice"><i class="fas fa-exclamation-circle"></i> 계좌정보를 입력해주세요.</span><%end%></li>
                <li><%if current_user.phone? %><%=current_user.phone%><%else%><span class="sm_notice"><i class="fas fa-exclamation-circle"></i> 핸드폰 번호를 입력해주세요.</span><%end%></li>
                </ul>
                
                <button class="btn_modify" onclick="location.href='/add_information/add/<%=current_user.id%>'"></button>
                
            </div>
        </div>

        <div id="list_menu">

            <ul>

                <li>알림설정</li>
                
                <li>
                <ul id="submenu">
                    
                    <li><i class="fas fa-bell"></i> 푸시알림받기
                        
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="alram1" id="alram1" value="on">
                        </div>
                        
                    </li>
                    
                        <li><i class="fas fa-envelope"></i> SMS수신받기
                        
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="alram2" id="alram2" value="on">
                        </div>
                        
                        
                    </li>
                    
                </ul>
                
                </li>

                <li class="arrow"><a href="/mypage/notice_list">공지사항</a></li>
                <li class="arrow"><a href="/mypage/terms">이용약관</a></li>
                <li class="arrow">고객문의</li>
                <!--<li class="arrow"> <a href="/add_information/add/<%=current_user.id%>">추가정보 입력 및 수정하기</a></li>-->
                <% if user_signed_in? %>
                    <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
                <%end %>
               



            </ul>



        </div>

        



    </div><!--wrap-->

<link href="/css/switcher.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.switcher.js"></script>
<script>
$.switcher();</script>