<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->

    <!-- version 1.1.6 // 2019-11-30 -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   
    <script src="https://kit.fontawesome.com/9f48ba518c.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
    <!-- ax5ui -->
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
    <!-- ax5ui-toast -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-toast/master/dist/ax5toast.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-toast/master/dist/ax5toast.min.js"></script>
    <!-- ax5ui-modal -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-modal/master/dist/ax5modal.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-modal/master/dist/ax5modal.min.js"></script>
    <!-- ax5ui-mask -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-mask/master/dist/ax5mask.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-mask/master/dist/ax5mask.min.js"></script>
    <!-- ax5ui-dialog -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-dialog/master/dist/ax5dialog.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-dialog/master/dist/ax5dialog.min.js"></script>

  </head>


  <body>

    <%= yield %>
    <% if user_signed_in? %>
      <% if current_user.usertype =='0' %> <!--알바일때-->
          <div id="menu">
              <ul>
                  <li id="menu_active"></li>
                  <li id="menu_favorites"></li>
                  <li id="menu_application"></li>
                  <li id="menu_alram"></li>
                  <li id="menu_mypage"></li>
              </ul>
        </div>
      <% end %>
    <% end %>
    
    
    
<script>

/*
  function createToast(t) {
    switch (t) {
      case 'success':
        $.toast('<h4>성공!</h4> 토스트 생성에 성공했습니다. 닫아야 없어집니다.', {
          //sticky: true,
          duration: 2000,
          type: 'success'
        });
        return;
    }
  }

  $(document).ready(function() {
    $.toast.config.align = 'center';
    $.toast.config.width = 400;

    $('button').click(function() {
      createToast($(this).attr('class'));
    });
  });
  
  */
  $(function(){
  
    
    $('#menu_active').on('click', function(){
      location.href = "/active/index1";
    });
    
    $('#menu_favorites').on('click', function(){
      location.href = "/active/create_favorites";
    });
    
    $('#menu_geo').on('click', function(){
      location.href = "/active/geo_list";
    });
    
    $('#menu_application').on('click', function(){
      location.href = "/active/list_application";
    });
    
    $('#menu_alram').on('click', function(){
      alert ('준비중');
      //location.href = "/active/list_application";
    });
    
    $('#menu_mypage').on('click', function(){
      location.href = "/mypage/main";
    });
  });

</script>


  </body>
</html>
